

<div class="center">
  <h1 class="text-3xl">Prevenciones meteorológicas</h1>

  <ul class="icons-list" *ngFor="let dato of datos">
    <li><i class="fa-solid fa-sun fa-5x" [ngClass]="{'bright-sun': dato.value >= 1 && dato.value <= 5}"></i></li>
    <li><i class="fa-solid fa-cloud-sun fa-5x" [ngClass]="{'bright-crepus': dato.value >= 6 && dato.value <= 10}"> </i></li>
    <li><i class="fa-solid fa-moon fa-5x" [ngClass]="{'bright-night': dato.value >= 11 && dato.value <= 15}"></i></li>
  </ul>

  <div class="max-w-sm rounded overflow-hidden shadow-lg mt-10 p-3" *ngFor="let dato of datos">
    <div *ngIf="dato.value >= 1 && dato.value <= 5" class="icons-list-2">
      <span *ngFor="let num of [1, 2, 3, 4, 5]" class="number">{{ num }}&nbsp;</span>
    </div>
    <div *ngIf="dato.value >= 6 && dato.value <= 10" class="icons-list-2">
      <span *ngFor="let num of [6, 7, 8, 9, 10]" class="number">{{ num }}&nbsp;</span>
    </div>
    <div *ngIf="dato.value >= 11 && dato.value <= 15" class="icons-list-2">
      <span *ngFor="let num of [11, 12, 13, 14, 15]" class="number">{{ num }}&nbsp;</span>
    </div>
  </div>
  

  <div class="max-w-sm rounded overflow-hidden shadow-lg mt-10" *ngFor="let dato of datos">
    <div class="px-6 py-4">
      <div class="font-bold text-md mb-2">Clima meteorológico</div>
      <p class="text-gray-700 text-base text-center">
      </p>
      <p class="text-center">
        {{ dato.value }}
      </p>
    </div>

 
    
    
  </div>  
</div>

