

<div class="center">

  <div class="max-w-sm rounded overflow-hidden shadow-lg my-10" *ngFor="let dato of datos">
    <div class="px-6 py-4">
      <div class="font-bold text-md mb-2">Valor Calculado Meteo</div>
      <p class="text-gray-700 text-base text-center">
      </p>
      <p class="text-center">
        {{ dato.value }}
      </p>
    </div>
  </div>  

  <ul class="icons-list" *ngFor="let dato of datos">
    <li><i class="fa-solid fa-sun fa-5x" [ngClass]="{'bright-sun': dato.value >= 1 && dato.value <= 5}"></i></li>
    <li><i class="fa-solid fa-cloud-sun fa-5x" [ngClass]="{'bright-crepus': dato.value >= 6 && dato.value <= 10}"> </i></li>
    <li><i class="fa-solid fa-moon fa-5x" [ngClass]="{'bright-night': dato.value >= 11 && dato.value <= 15}"></i></li>
  </ul>
  <i class="fas fa-sunset"></i>
  
  <div class="max-w-sm rounded overflow-hidden shadow-lg mt-10 p-3" *ngFor="let dato of datos">
    <div *ngIf="dato.value >= 1 && dato.value <= 5" class="icons-list-2">
      <span *ngFor="let num of [1, 2, 3, 4, 5]" class="number" [style.color]="dato.value === num ? 'black' : 'gray'">{{ num }}&nbsp;</span>
    </div>
    <div *ngIf="dato.value >= 6 && dato.value <= 10" class="icons-list-2">
      <span *ngFor="let num of [6, 7, 8, 9, 10]" class="number" [style.color]="dato.value === num ? 'white' : 'gray'">{{ num }}&nbsp;</span>
    </div>
    <div *ngIf="dato.value >= 11 && dato.value <= 15" class="icons-list-2">
      <span *ngFor="let num of [11, 12, 13, 14, 15]" class="number" [style.color]="dato.value === num ? 'white' : 'gray'">{{ num }}&nbsp;</span>
    </div>
  </div>
  

</div>

 <div class="container content-between mx-auto my-10">
  <p class="text-2xl text-center">RVR</p>
  <div class="overflow-x-auto">
    <table class="table-auto mx-auto">
      <thead>
        <tr>
          <th class="px-4 py-2">Text</th>
          <th class="px-4 py-2">Ts</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let datos of datosLogRvr" class="bg-gray-100">
          <td class="border px-4 py-2">{{datos.text}}</td>
          <td class="border px-4 py-2">{{ formatTimestampToDateTime(datos.ts) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="container mx-auto my-10">
  <p class="text-2xl text-center">Metar</p>
  <div class="overflow-x-auto">
    <table class="table-auto mx-auto">
      <thead>
        <tr>
          <th class="px-4 py-2">Text</th>
          <th class="px-4 py-2">Ts</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let datos of datosLogMetar | paginate: { itemsPerPage: 10, currentPage: p }" class="bg-gray-100">
          <td class="border px-4 py-2">{{datos.text}}</td>
          <td class="border px-4 py-2">{{ formatTimestampToDateTime(datos.ts) }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="text-center mt-4">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
  </div>
</div>
